/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Helvetica:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #f9f9f9;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h4, h6 {
	font-weight: 500;
    color: #4a4a4a;
}

h3 {
	font-weight:800;
	color: #444444;
}

h5 {
	font-size: 30px;
	font-weight: 800;
}

h6 {
	font-size: 15px;
	font-weight: 400;
}


.navbar-brand {
	font-weight: 400;
	letter-spacing: 3px;
}
	
#close .navbar-brand {
	font-weight:200;
	font-size:40px;
}

#close.navbar-header {
	float:right;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default {
	background-color: black;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: black;
	border-bottom: 2px solid white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	background-color: black;
	margin: 0px 20px 0px 20px;
	text-align: center;
}

.detailsection {
	margin-top:20px;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/sky.jpeg) no-repeat center top;
	margin-top: 40px;
	padding-top: 150px;
	padding-left: 10px;
	text-align:left;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:white;
	margin-top: -30px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 50px;
	font-weight: 300;
}

#headerwrap h4 {
	font-weight: 400;
	font-size: 20px;
	color: white;
}

#footerwrap i {
	font-size: 30px;
	color: #525252;
	margin: 10px 10px;
}

#footerwrap i:hover {
	color: white;
}

#footerwrap {
	background-color: #f3f3f3;
	padding-top:20px;
}

#footerwrap p {
	color: #525252;
	margin-top: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:black;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 300;
	color: #ffffff
}

#thumbs {
	border: 2px gray;
}

.tagline.centered {
	font-size: 30px;
	margin-top:20px;
}

.projectspecs .col-md-6 {
	float:center;
	padding: 10px;
	margin-top: 20px;
	color:gray;
}

.col-md-6.centered {
	padding:38px;
}
#project h1 {
	padding-top: 70px;
	font-family: Helvetica;
}

#projectsummary {
	margin: 10%;
	margin-top:10px;
}

#projectsummary h1 {
	font-size: 20px;
	text-align: center;
	font-weight: 300;
}

#projectdetail {
	margin-left: 20%;
	margin-right: 20%;
	margin-top:-60px;
}

#quote.container {
	background-color: #444444;
	padding: 40px;
	margin-bottom: 30px;
	width: 100%;
	margin-top: 30px;
}

#quote.container p {
	color: #ffffff;
	font-size: 30px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-style: italic;
}

#cover {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top:80px;
}

#navi {
	box-shadow: 5px 5px;
}

#casestudy {
	margin: 20%;
}

.btn.btn-info a{
	font-weight:400;
	color: black
}

.content-block {
	padding: 0 10% ;
}

}
.btn.btn-info {
	border-radius: 0px;
	background-color: white;
	border-color: #4a4a4a;
}

.btn {
	padding: ;
	border-radius: 0px;
	background-color: #f9f9f9;
	border-color: #4a4a4a;
	margin: 20px;
}

.btn h6 {
	font-weight:400;
}

.btn:hover {
	background-color: #444444;
	border-color: #444444;
}

.btn:hover h6 {
	color:white;
}

#projectsummary .container {
	width: 80vw;
}

#aboutwrap {	
	background: url(../img/about.jpg) right top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:left;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

span {
	display: inline-block;
}

#lastbutton {
	text-align: center;
}

.container .col-md-7 {
	margin-top: 90px;
}

.column-right img {
	width: 120%;
	margin-top: 90px;
	margin-left:-80px;
	padding-right:20px;
}

.column-left {
	float:left;
	width: 33%;
}

.column-right {
	float:right;
	width: 33%;
}

.column-center {
	display: inline-block;
	width: 33%;
}

#adrienne img {
	margin-left: 30px;
}

/* Gallery */
.gallery {
	margin-top: 20px;
}

.gallery .text {
	position:absolute;
	visibility: hidden;
	left: 20%;
	top: 40%;
}


.gallery:hover .text{
	visibility: visible;
	color: black;
}

.gallery img:hover {
	opacity: 0.4;
}
